.card.bg-primary {
  background-color: #dc3545 !important;
}

.card.bg-success {
  background-color: #28a745 !important;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
}