<app-navbar></app-navbar>
<main>
    <section>
        <div class="container">
            <div class="left-side">
                <h1>Sauvez des vies dès aujourd'hui</h1>
                <p>Chaque année, un million de vies sont sauvées grâce à votre générosité. En donnant votre sang, vous contribuez à sauver des vies et à faire une différence concrète. Que ce soit des plaquettes, du plasma ou même du sang placentaire, chaque don compte. Rejoignez-nous dans cette noble cause et faites partie du mouvement pour un monde meilleur</p>
                <div class="buttons">
                    <a routerLink="/register" class="btn btn-primary custom-button">Je donne mon sang <span class="heart-icon">&hearts;</span></a>
                    <a routerLink="/donor" id='btnS' class="btn btn-secondary custom-button">Besoin de sang</a>
                    <a routerLink="/posts" id='btnL' class="btn btn-success custom-button">Publier une demande de don de sang</a>
                    <a routerLink="/sensabilisation" id='btnL' class="btn btn-info custom-button">En savoir plus sur le don de sang</a>
                </div>


            </div>
            <div class="right-side">
                <img src="https://img.freepik.com/premium-vector/illustration-blood-donation-cheerful-cartoon-character-encouraging-blood-donation_1300528-12539.jpg" alt="">
            </div>
        </div>
    </section>
    <section>
        <h2 class="benif">Les bienfaits du don de sang pour la santé</h2>
        <p id="benif">Faites du bien à votre santé en donnant votre sang !</p>
        <div class="container">
            <div class="left-side">
                <img src="https://img.freepik.com/vecteurs-libre/femme-donneuse-sang-poche-sang-bandage-platre_1308-129877.jpg?t=st=1710792104~exp=1710795704~hmac=7a1933392bbe97f7e66ae4e6cc089518b9a5837adb963bb3d6dc7e70e2c1346a&w=740" alt="Don de sang">
            </div>
            <div class="right-side">
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Augmente la production de nouveaux globules rouges</p>
                    </div>
                </div>
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Réduit le risque de maladies cardiovasculaires</p>
                    </div>
                </div>
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Renouvelle le sang et aide à maintenir sa qualité</p>
                    </div>
                </div>
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Stimule la production d'anticorps et renforce le système immunitaire</p>
                    </div>
                </div>
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Diminue le risque de cancer lié au fer</p>
                    </div>
                </div>
                <div class="benif-container">
                    <div class="benif-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="benif-text">
                        <p>Contribue à une meilleure santé mentale en aidant les autres</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="benif">Les patients que votre groupe sanguin peut aider</h2>
        <p id="benif">Le groupe sanguin du donneur</p>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="blood-group-column"></th>
                        <th>A+</th>
                        <th>A-</th>
                        <th>B+</th>
                        <th>B-</th>
                        <th>AB+</th>
                        <th>AB-</th>
                        <th>O+</th>
                        <th>O-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+</td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>A-</td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>B+</td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>B-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>AB+</td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>AB-</td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>O+</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                    <tr>
                        <td>O-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fas fa-tint compatible-icon"></i></td>
                    </tr>
                </tbody>
                
            </table>

        </div>
    </section>
    <section>
        <h2 class="benif">Inventaire sanguin actuel</h2>
        <p id="benif">De nombreuses variables peuvent avoir un impact sur notre inventaire comme la météo,<br> les vacances ou les événements tragiques.<br> Vous trouverez ci-dessous un aperçu de nos niveaux de stocks pour tous les groupes sanguins.</p>
        <div >
            <div class="blood">
                <a href="">
                    <div class="blood-type-shape" title="A+">A+</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="A-">A-</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="B+">B+</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="B-">B-</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="AB+">AB+</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="AB-">AB-</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="O+">O+</div>
                </a>

                <a href="">
                    <div class="blood-type-shape" title="O-">O-</div>
                </a>

            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>